body {
  padding-top: 100px;
}

h1 {
  font-size: 60px;
}

h1 small {
  font-size: 15px;
}

h2 {
  font-size: 38.5px;
}

h3 {
  font-size: 24.5px;
}

section {
  margin-top: 60px;
}

.subhead .row {
  padding-bottom: 50px;
}

body > .container {
  font-size: 16px;
}


/* prism */
pre[class*="language-"] {
  background: url('data:image/svg+xml;charset=utf-8,<svg%20version%3D"1.1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"100"%20height%3D"100"%20fill%3D"rgba(0%2C0%2C0%2C.1)">%0D%0A<polygon%20points%3D"0%2C50%2050%2C0%200%2C0"%20%2F>%0D%0A<polygon%20points%3D"0%2C100%2050%2C100%20100%2C50%20100%2C0"%20%2F>%0D%0A<%2Fsvg>');
  background-size: 1em 1em;
}

code[class*="language-"] {
  background: rgba(42,99,105,0.9) none;
  box-shadow: -.3em 0 0 .3em rgba(42,99,105,0.9), .3em 0 0 .3em rgba(42,99,105,0.9);
}

.token.atrule, .token.attr-value, .token.keyword {
  color: rgb(255, 142, 203)
}

p > code {
  color: rgb(255, 255, 255);
  background: rgba(42,99,105,0.9) none;
}
