<!DOCTYPE HTML>
<html>
  <head>
    <title>Lunr tests</title>

    <!-- dependencies -->
    <script src="/test/env/jquery.js" type="text/javascript" charset="utf-8"></script>

    <!-- QUnit -->
    <script src="/test/env/qunit.js"></script>
    <link rel="stylesheet" href="/test/env/qunit.css" type="text/css" media="screen" />

    <!-- Lunr -->
    <script src="/lib/lunr.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/tokenizer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/pipeline.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/vector.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/sorted_set.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/document_store.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/stemmer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/stop_word_filter.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/token_store.js" type="text/javascript" charset="utf-8"></script>

    <!-- Fixtures -->
    <script src="/test/fixtures/stemming_vocab.json"></script>

    <!-- Tests -->
    <script src="/test/tokenizer_test.js"></script>
    <script src="/test/pipeline_test.js"></script>
    <script src="/test/vector_test.js"></script>
    <script src="/test/sorted_set_test.js"></script>
    <script src="/test/index_test.js"></script>
    <script src="/test/store_test.js"></script>
    <script src="/test/search_test.js"></script>
    <script src="/test/stemmer_test.js"></script>
    <script src="/test/stop_word_filter_test.js"></script>
    <script src="/test/lunr_test.js"></script>
    <script src="/test/token_store_test.js"></script>

  </head>
  <body>
    <div id="qunit"></div>
  </body>
</html>
