<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Sequelize &raquo; A MySQL Object-Relational-Mapper for NodeJS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9039631-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" charset="utf-8">
      document.observe("dom:loaded", function() {
        setTimeout(function() {
          $$("[name='<%= active %>']").first().scrollTo()
        }, 50)
      })
    </script>
  </head>
  <body>
    <div id="sidebar" class="bordered">
      <h2>Navigation</h2><br/>
      <% for(var key in navigation) { %>
        <%- linkTo(navigation[key], "?active=" + key, {class: (active==key) ? "active" : ""}) %>
      <% } %>
    </div>
    <div id="wrapper">
      <div id="navigation" class="bordered">
        <table width="100%">
          <tr>
            <td align="center" width="33%"><a href="/">Documentation</a></td>
            <td align="center" width="33%"><a href="/examples">Examples</a></td>
            <td align="center" width="33%"><a href="/changelog">Changelog</a></td>
          </tr>
        </table>
      </div>
      <div id="content" class="bordered"><%- body %></div>
      <div id="footer" class="bordered">
        &copy; 2010 Layout | Code by <a href="http://depold.com" target="_blank">Sascha Depold</a>;
        Website based on <a href="http://nodejs.org" target="_blank" rel="nofollow">NodeJS</a> and 
        <a href="http://expressjs.com" target="_blank" rel="nofollow">ExpressJS</a>.
      </div>
    </div>
    <a href="http://github.com/sdepold/sequelize" id="forkBadge"> 
		  <img src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" id="ribbon" alt="Fork me on GitHub"> 
		</a>
  </body>
</html>