*.swp
*~
.DS_STORE
.idea
coverage-*
docs/api/tmp.md
node_modules
npm-debug.log
site
test*.js
test/binary/tmp/*
test/dialects/sqlite/test.sqlite
test/sqlite/test.sqlite
coverage-*
site
docs/api/tmp.md
ssce.js
