*.swp
.idea
.DS_STORE
npm-debug.log*
*~
test.sqlite
*.sublime*
package-lock.json
pnpm-lock.yaml

.nyc_output
coverage-*
coverage
tmp
.vscode/
.typedoc-build
node_modules
*.log
/packages/*/lib
/packages/*/types
