docs
esdoc
examples
test
README.md
.watchr.js
changelog.md
Makefile
coverage*
.github

appveyor-setup.ps1
appveyor.yml
codecov.yml
docker-compose.yml
mkdocs.yml
.dockerignore
.editorconfig
.travis.yml
package-lock.json

