docs
examples
test
README.md
.watchr.js
changelog.md
Makefile
coverage*

appveyor-setup.ps1
appveyor.yml
codecov.yml
docker-compose.yml
mkdocs.yml
.dockerignore
.editorconfig
.eslintrc.json
.jshintrc
.travis.yml
