language: node_js

node_js:
  - "0.10"
  - "0.12"
  - "iojs-v1"
  - "iojs-v2"

sudo: required

services:
  - docker

cache:
  directories:
    - node_modules

env:
  matrix:
    - DIALECT=oracle
#    - DIALECT=mysql
#    - DIALECT=postgres
#    - DIALECT=postgres-native
#    - DIALECT=sqlite
#    - DIALECT=mariadb
#    - DIALECT=mssql

#addons:
#  postgresql: "9.4"

before_install:
  - if [ ${DIALECT} = "oracle" ]; then
        docker pull wnameless/oracle-xe-11g
        docker run -d -p 49160:22 -p 49161:1521 -e ORACLE_ALLOW_REMOTE=true wnameless/oracle-xe-11g
    fi

before_script:
  - "mysql -e 'create database sequelize_test;'"
  - "psql -c 'create database sequelize_test;' -U postgres"
  - "psql sequelize_test -c 'create extension postgis;' -U postgres"

script:
  - "npm test"

matrix:
  fast_finish: true
  include:
    - node_js: "0.10"
      env: COVERAGE=true
  allow_failures:
    - node_js: "0.10"
      env: COVERAGE=true
