sudo: true
dist: trusty

language: node_js

branches:
  only:
    - master
    - v6
  except:
    - /^v\d+\.\d+\.\d+$/

cache: npm

install:
  - npm ci
  - |-
    if [ "$DIALECT" = "postgres-native" ]; then npm install pg-native; fi

env:
  global:
    - SEQ_DB=sequelize_test
    - SEQ_USER=sequelize_test
    - SEQ_PW=sequelize_test
    - SEQ_HOST=127.0.0.1
    - COVERAGE=true

before_script:
  # setup docker
  - if [ $MARIADB_VER ]; then export MARIADB_ENTRYPOINT=$TRAVIS_BUILD_DIR/test/config/mariadb; fi
  - if [ $MYSQL_VER ]; then export MYSQLDB_ENTRYPOINT=$TRAVIS_BUILD_DIR/test/config/mysql; fi
  - if [ $POSTGRES_VER ] || [ $MARIADB_VER ] || [ $MYSQL_VER ]; then docker-compose up -d ${POSTGRES_VER} ${MARIADB_VER} ${MYSQL_VER}; fi
  - wait_for() { docker run --net sequelize_default jwilder/dockerize -timeout 2m -wait "$1"; }
  - if [ $POSTGRES_VER ]; then wait_for tcp://${POSTGRES_VER}:5432; fi
  - if [ $MARIADB_VER ]; then wait_for tcp://${MARIADB_VER}:3306; fi
  - if [ $MYSQL_VER ]; then wait_for tcp://${MYSQL_VER}:3306; fi

script:
  - |-
    npm run cover && bash <(curl -s https://codecov.io/bash) -f coverage/lcov.info

jobs:
  include:
    - stage: lint
      node_js: '10'
      script:
        - npm run lint
        - npm run lint-docs
        - npm run test-typings
    - stage: test
      node_js: '10'
      env: DIALECT=sqlite
    - stage: test
      node_js: '10'
      sudo: required
      env: MARIADB_VER=mariadb-103 SEQ_MARIADB_PORT=8960 DIALECT=mariadb
    - stage: test
      node_js: '10'
      sudo: required
      env: MYSQL_VER=mysql-57 SEQ_MYSQL_PORT=8980 DIALECT=mysql
    - stage: test
      node_js: '10'
      sudo: required
      env: POSTGRES_VER=postgres-10 SEQ_PG_PORT=8991 DIALECT=postgres
    - stage: test
      node_js: '10'
      sudo: required
      env: POSTGRES_VER=postgres-10 SEQ_PG_PORT=8991 SEQ_PG_MINIFY_ALIASES=1 DIALECT=postgres
      script:
        - npm run test-integration
    - stage: test
      node_js: '10'
      sudo: required
      env: POSTGRES_VER=postgres-95 SEQ_PG_PORT=8990 DIALECT=postgres-native
    - stage: release
      node_js: '10'
      script:
        - npm run semantic-release

stages:
  - lint
  - test
  - name: release
    if: branch = v6 AND type = push AND fork = false
