before_script:
  - "mysql -e 'create database sequelize_test;'"
  - "psql -c 'create database sequelize_test;' -U postgres"

script:
  - "npm run test-buster-travis"
  - "npm run test-jasmine"

notifications:
  email:
    - sascha@depold.com

env:
  - DB=mysql DIALECT=mysql
  - DB=mysql DIALECT=postgres
  - DB=mysql DIALECT=sqlite

language: node_js

node_js:
  - 0.6
  - 0.8
  - 0.9

