before_script:
  - "mysql -e 'create database sequelize_test;'"
  - "psql -c 'create database sequelize_test;' -U postgres"

script:
  - "make test"

notifications:
  hipchat:
    - 40e8850aaba9854ac4c9963bd33f8b@253477
  irc:
    - "chat.freenode.net#sequelizejs"

env:
  - DB=mysql DIALECT=mysql
  - DB=mysql DIALECT=postgres
  - DB=mysql DIALECT=postgres-native
  - DB=mysql DIALECT=sqlite
  - DB=mysql DIALECT=mariadb

language: node_js

node_js:
  - "0.10"

branches:
  only:
    - master
    - 1.7.0

cache:
  directories:
    - node_modules

matrix:
  fast_finish: true

  include:
    - node_js: "0.10"
      env: COVERAGE=true

  allow_failures:
    - node_js: "0.10"
      env: COVERAGE=true
