version: '2'

services:
  sequelize:
    build: .
    links:
     - mysql-57
     - postgres-95
    volumes:
      - .:/sequelize
    environment:
      SEQ_DB: sequelize_test
      SEQ_USER: sequelize_test
      SEQ_PW: sequelize_test

  # PostgreSQL
  postgres-95:
    image: camptocamp/postgis:9.5
    environment:
      POSTGRES_USER: sequelize_test
      POSTGRES_PASSWORD: sequelize_test
      POSTGRES_DB: sequelize_test
    ports:
      - "127.0.0.1:8998:5432"
    container_name: postgres-95

  # MySQL
  mysql-57:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: lollerskates
      MYSQL_DATABASE: sequelize_test
      MYSQL_USER: sequelize_test
      MYSQL_PASSWORD: sequelize_test
    ports:
      - "127.0.0.1:8999:3306"
    container_name: mysql-57

  oracle-12c:
    image: konnecteam/oracle12c-database-sequelize
    ports:
      - "127.0.0.1:1521:1521"
    container_name: oracle
