<!DOCTYPE html>
<meta charset=utf-8>
<title>Syntax Highlighting</title>
<link href="../themes/blackboard.css" rel="stylesheet" type="text/css" media="screen">
<body>

<pre>
<code data-language="css">/**
 * styles for blackboard theme
 */
pre {
    background: #0B1022;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #727272;
}

pre .constant {
    color: #D8FA3C;
}

pre .storage {
    color: #FBDE2D;
}

pre .string {
    color: #61CE3C;
}

pre .keyword, pre .selector {
    color: #FBDE2D;
}

pre .parent {
    font-style: italic;
}

pre .entity, pre .meta {
    color: #FF6400;
}

pre .support {
    color: #8DA6CE;
}</code>
</pre>

    <script src="../js/rainbow.js"></script>
    <script src="../js/language/css.js"></script>
</body>
