<!DOCTYPE html>
<meta charset=utf-8>
<title>Syntax Highlighting</title>
<body>
    <ul>
        <li><a href="css.html">css demo</a></li>
        <li><a href="html.html">html demo</a></li>
        <li><a href="js.html">js demo</a></li>
        <li><a href="php.html">php demo</a></li>
        <li><a href="php-long.html">php long demo</a></li>
        <li><a href="python.html">python demo</a></li>
        <li><a href="ruby.html">ruby demo</a></li>
        <li><a href="ruby-test.html">ruby-test demo</a></li>
        <li><a href="shell.html">shell demo</a></li>
    </ul>
</body>
