/**
 * Espresso Libre theme
 *
 * Adapted from Ultraviolet RubyGem
 *
 * @author Flinn Mueller
 * @version 1.0
 */
pre {
    background-color: #2a211c;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #bdae9d;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .support.class, pre .support.type {
    color: #6d79de;
}

pre .support.constant {
    color: #00af0e;
}

pre .constant.language {
    color: #585cf6;
}

pre .support.function {
    font-weight: bold;
    color: #7290d9;
}

pre .string {
    color: #049b0a;
}

pre .constant.numeric {
    color: #44aa43;
}

pre .keyword, pre .storage {
    color: #43a8ed;
}

pre .entity.function {
    color: #ff9358;
}

pre .comment {
    color: #0066ff;
    font-style: italic;
}

pre .constant.symbol {
    color:#c5656b;
}

pre .variable.instance, pre .variable.language, pre .constant {
    color: #318495;
}
