@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

div.logo img {
  width: 200px;
  height: 200px;
  box-shadow: none !important;
}

div.sequelize {
  color: #399af3;
  font-size: 60px;
  font-family: 'Titillium Web', sans-serif;
}

a[href="source.html"],
a[href^="file/lib/"] {
  display: none;
}

.slack-logo {
  height: 20px;
  position: relative;
  top: 3px;
  padding: 0 5px;
}

.header-logo {
  height: 25px;
  position: relative;
  top: 6px;
}

.center {
  text-align: center;
}

.manual-root .content img {
  box-shadow: none !important;
  max-width: 300px;
}
