<script type="text/javascript" charset="utf-8">
  document.observe("dom:loaded", function() {
    buildNavigation([], [])
  })
</script>

<div id="changelog">
  <a name="changelog"></a>
  <h1>Changelog</h1>
</div>

<div class="seperator"></div>

<%- partial("changelog.ejs") %>