<div>
  <a name="sequelize"></a>
  <h1>Sequelize</h1>
  <p>
    The Sequelize library provides easy access to a MySQL database by mapping database
    entries to objects and vice versa. To put it in a nutshell... it's an ORM (Object-Relational-Mapper).
    The library is written entirely in JavaScript and can be used in the Node.JS environment.
  </p>
</div>