body {
  padding: 50px;
  font-size: 14px;
  font-family: "Helvetica Neue", Verdana;
  line-height: 1.5;
}
h2 {
  margin: 0px;
}
.active {
  text-decoration: underline !important;
}
.bordered {
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #888;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  -o-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  -webkit-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  -moz-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
}
#wrapper {
  text-align: center;
  padding: 0 200px;
}
#navigation, #content, #footer {
  width: 800px;
  text-align: justify;
  margin: 0px auto;
}
#footer {
  margin-top: 15px;
  color: white;
  text-align: center;
}
#footer a {
  color: white;
}
#navigation {
  margin-bottom: 15px;
  padding: 10px 20px;
}
#navigation a {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
#navigation a:hover {
  text-decoration: underline;
}
#sidebar {
  float: left;
  position: fixed;
  width: 140px;
}
#sidebar a {
  color: white;
  padding: 5px 0px;
  display: block;
  text-decoration: none;
}
#sidebar a:hover {
  text-decoration: underline;
}
pre, .pre_like {
  border: 1px solid #888;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(43, 32, 28, 0.7);
}
.comment {
  color: grey;
}
.string {
  color: #04d80d;
}
.regexp {
  color: #2fe420;
}
.number {
  color: #44aa43;
}
.class, .this {
  color: #8ac9f2;
}
.inst.variable, .class.variable, .global.variable {
  color: #2f5fe0;
}
.keyword {
  font-weight: bold;
  color: #43a8ed;
}
.seperator {
  border-top: 1px solid white;
  height: 1px;
  overflow: hidden;
  margin-bottom: 10px;
}
#forkBadge {
  position: fixed;
  top: 0px;
  right: 0px;
}
#forkBadge img {
  border: none;
}
#changelog p {
  margin: 0px;
}
#changelog h3 {
  margin: 5px 0px;
}
#changelog .pre_like {
  margin: 10px 0px;
}
#changelog ul {
  margin: 5px 0px;
  padding-left: 30px;
  padding-bottom: 0px;
}
