<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <h1><a class="brand" href="/">Sequelize</a></h1>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <% elements.forEach(function(element) { %>
            <% if (!element.entries || (element.entries.length === 0)) { %>
              <li><a href="<%= element.url %>"><%= element.title %></a></li>
            <% } else { %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= element.title %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% element.entries.forEach(function(entry) { %>
                    <% if (entry.divider) { %>
                      <li class="divider"></li>
                    <% } else { %>
                      <li><a href="<%= entry.url %>"><%= entry.title %></a></li>
                    <% } %>
                  <% }) %>
                </ul>
              </li>
            <% } %>
          <% }) %>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Sections
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%
                [{
                  controller: 'documentation',
                  text:       'Documentation'
                }, {
                  controller: 'changelog',
                  text:       'Changelog'
                }, {
                  divider:    true
                }, {
                  controller: 'heroku',
                  text:       'Sequelize on Heroku'
                }, {
                  divider:    true
                }, {
                  external:   true,
                  url:        'https://github.com/sequelize/sequelize',
                  text:       'Github'
                }, {
                  external:   true,
                  url:        'https://www.xing.com/net/priec1b5cx/sequelize',
                  text:       'Xing'
                }, {
                  external:   true,
                  url:        'https://www.facebook.com/sequelize',
                  text:       'Facebook'
                }, {
                  external:   true,
                  url:        'https://groups.google.com/forum/#!forum/sequelize',
                  text:       'Google Groups'
                }].forEach(function(entry) {
              %>
                <% if (entry.divider) { %>
                  <li class="divider"></li>
                <% } else if (entry.external) { %>
                  <li>
                    <a href="<%= entry.url %>" target="_blank" rel="nofollow">
                      <i class="icon-share"></i>
                      <%= entry.text %>
                    </a>
                  </li>
                <% } else { %>
                  <li class="<%= (controller === entry.controller) ? 'current' : '' %>">
                    <a href="/<%= entry.controller %>"><%= entry.text %></a>
                  </li>
                <% } %>
              <% }) %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
