<div><a name="v0.4.4 - in development"></a><h2>v0.4.4 - in development</h2>

<div class='pre_like'><ul><li>select now supports array usage of fields</li><li>select now supports hash usage of where</li><li>Wrapped queries correctly using <code>foo</code></li><li>Added Model.count(callback), which returns the number of elements saved in the database</li><li>Merged israeldelahoz's changes for using created<em>at and updated</em>at instead of the camel cased version</li><li>using expresso 0.7.2</li><li>tests were working all the time</li><li>moved config for test database into seperated config file</li><li>TODO: Add method for adding and deleting single associations</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.4.3"></a><h2>v0.4.3</h2>

<div class='pre_like'><ul><li>renamed loadAssociatedData to fetchAssociations</li><li>renamed Model#associatedData to fetchedAssociations</li><li>added fetchAssociations to finder methods</li><li>store data found by finder method in the associatedData hash + grep them from there if reload is not forced</li><li>added option to sequelize constructor for disabling the pluralization of tablenames: disableTableNameModification</li><li>allow array as value for chainQueries =&gt; Sequelize.chainQueries([save: [a,b,c]], callback)</li><li>remove the usage of an array =&gt; Sequelize.chainQueries({save: a}, {destroy: b}, callback)</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.4.2"></a><h2>v0.4.2</h2>

<div class='pre_like'><ul><li>fixed bugs from 0.4.1</li><li>added the model instance method loadAssociatedData which adds the hash Model#associatedData to an instance which contains all associated data</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.4.1"></a><h2>v0.4.1</h2>

<div class='pre_like'><ul><li>THIS UPDATE CHANGES TABLE STRUCTURES MASSIVELY!</li><li><p>MAKE SURE TO DROP YOUR CURRENT TABLES AND LET THEM CREATE AGAIN!</p></li><li><p>names of many-to-many-association-tables are chosen from passed association names</p></li><li>foreign keys are chosen from passed association name</li><li>added many-to-many association on the same model</li><li>added hasManyAndBelongsTo</li><li>added hasOneAndBelongsTo</li><li>nodejs-mysql-native 0.4.2</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.4.0"></a><h2>v0.4.0</h2>

<div class='pre_like'><ul><li>added error handling when defining invalid database credentials</li><li>Sequelize#sync, Sequelize#drop, model#sync, model#drop returns errors via callback</li><li>code is now located under lib/sequelize to use it with nDistro</li><li>added possibility to use non default mysql database (host/port)</li><li>added error handling when defining invalid database port/host</li><li>schema definitions can now contain default values and null allowance</li><li>database credentials can now also contain an empty / no password</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.3.0"></a><h2>v0.3.0</h2>

<div class='pre_like'><ul><li>added possibility to define class and instance methods for models</li><li>added import method for loading model definition from a file</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.2.6"></a><h2>v0.2.6</h2>

<div class='pre_like'><ul><li>refactored Sequelize to fit CommonJS module conventions</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.2.5"></a><h2>v0.2.5</h2>

<div class='pre_like'><ul><li>added BOOLEAN type</li><li>added FLOAT type</li><li>fixed DATE type issue</li><li>fixed npm package</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.2.4"></a><h2>v0.2.4</h2>

<div class='pre_like'><ul><li>fixed bug when using cross associated tables (many to many associations)</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.2.3"></a><h2>v0.2.3</h2>

<div class='pre_like'><ul><li>added latest mysql connection library<div class='pre_like'><ul><li>fixed id handling on save</li><li>fixed text handling (varchar &gt; 255; text)</li></ul></div></li><li>using the inflection library for naming tables more convenient</li><li>Sequelize.TEXT is now using MySQL datatype TEXT instead of varchar(4000)</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.2.2"></a><h2>v0.2.2</h2>

<div class='pre_like'><ul><li>released project as npm package</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.2.1"></a><h2>v0.2.1</h2>

<div class='pre_like'><ul><li>fixed date bug</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.2.0"></a><h2>v0.2.0</h2>

<div class='pre_like'><ul><li>added methods for setting associations</li><li>added method for chaining an arbitraty amount of queries</li></ul></div><br></div><div class="seperator"></div><div><a name="v0.1.0"></a><h2>v0.1.0</h2>

<div class='pre_like'><ul><li>first stable version</li><li>implemented all basic functions</li><li>associations are working</li></ul></div><br></div>