<!doctype html>
<html>
<head>
  <meta charset='utf8'>
  <title>Backbone Test Suite</title>
  <link rel="stylesheet" href="vendor/qunit.css" type="text/css" media="screen" />
  <script src="vendor/json2.js"></script>
  <script src="vendor/zepto.js"></script>
  <script src="vendor/qunit.js"></script>
  <script src="vendor/underscore.js"></script>
  <script src="../backbone.js"></script>
  <script src="environment.js"></script>
  <script src="noconflict.js"></script>
  <script src="events.js"></script>
  <script src="model.js"></script>
  <script src="collection.js"></script>
  <script src="router.js"></script>
  <script src="view.js"></script>
  <script src="sync.js"></script>
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture">
    <div id='testElement'>
      <h1>Test</h1>
    </div>
  </div>
</body>
</html>
