name: auto-update PRs & label conflicts
on:
  push:
    branches:
      - main
  # can also be used with the pull_request event
  pull_request_target:
    types:
      - synchronize
      # allow the workflow to correct any label incorrectly added or removed by a user.
      - labeled
      - unlabeled
      # update the PR as soon as the auto-merge is enabled.
      - auto_merge_enabled
      # process the PR once they appear in the search filters
      - ready_for_review
      - opened
      - reopened
jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Sequelize Bot Token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: '${{ secrets.SEQUELIZE_BOT_APP_ID }}'
          private-key: '${{ secrets.SEQUELIZE_BOT_PRIVATE_KEY }}'
      - uses: sequelize/pr-auto-update-and-handle-conflicts@74929c430b8843e691e7b83d229d8d13d78d89e3 # 2.0.0
        with:
          conflict-label: 'conflicted'
          conflict-requires-ready-state: 'ready_for_review'
          conflict-excluded-authors: 'bot/renovate'
          update-pr-branches: true
          update-requires-auto-merge: true
          update-requires-ready-state: 'ready_for_review'
          update-excluded-authors: 'bot/renovate'
          update-excluded-labels: 'no-autoupdate'
        env:
          GITHUB_TOKEN: '${{ steps.generate-token.outputs.token }}'
