name: 'Lint PR'
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  main:
    permissions:
      pull-requests: read # for amannn/action-semantic-pull-request to analyze PRs
      statuses: write # for amannn/action-semantic-pull-request to mark status of analyzed PR
    name: PR has semantic title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@e9fabac35e210fea40ca5b14c0da95a099eff26f # v5.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            fix
            feat
            docs
            meta
          scopes: |
            cli
            core
            db2
            ibmi
            mariadb
            mssql
            mysql
            oracle
            postgres
            snowflake
            sqlite3
            utils
            validator.js
          ignoreLabels: |
            ignore-semantic-pull-request
