<!DOCTYPE HTML>
<html>
  <head>
    <title>Lunr tests</title>

    <!-- dependencies -->
    <script src="/perf/env/benchmark.js" type="text/javascript" charset="utf-8"></script>

    <!-- Lunr -->
    <script src="/lib/lunr.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/tokenizer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/pipeline.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/vector.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/sorted_set.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/document_store.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/stemmer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/stop_word_filter.js" type="text/javascript" charset="utf-8"></script>

    <!-- Tests -->
    <script src="/perf/pipeline_test.js" type="text/javascript" charset="utf-8"></script>


  </head>
</html>
