<head>
  <!-- Vendor -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script> -->
  <script src="/example/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/example/mustache.js" type="text/javascript" charset="utf-8"></script>

  <!-- Lunr -->
  <script src="/lunr.js" type="text/javascript" charset="utf-8"></script>

  <script id="question-list-template" type="text/mustache">
    <div>
      <ul>
        {{#questions}}
          <li data-question-id="{{id}}">
            <h2><a href="#">{{title}}</a></h2>
            <p>{{tags}}</p>
          </li>
        {{/questions}}
      </ul>
    </div>
  </script>

  <script id="question-view-template" type="text/mustache">
    <div>
      <h1>{{title}}</h1>
      <p>{{tags}}</p>
      <div>{{{body}}}</div>
    </div>
  </script>

  <script type="text/javascript" charset="utf-8">

    // set up the index, specifying that we want to index the title, tags and body fields of documents.
    var idx = lunr(function () {
      this.ref('id')

      this.field('title', 10)
      this.field('tags', 100)

      this.field('body')
    })

    $(document).ready(function () {

      // load view templates
      var questionViewTemplate = $("#question-view-template").text()
      var questionListTemplate = $("#question-list-template").text()

      var renderQuestionList = function (qs) {
        $("#question-list-container")
          .empty()
          .append(Mustache.to_html(questionListTemplate, {questions: qs}))
      }

      var renderQuestionView = function (question) {
        $("#question-view-container")
          .empty()
          .append(Mustache.to_html(questionViewTemplate, question))
      }


      search = function (term) {
        console.time('search')
        for (var i=0; i < 1000; i++) {
          idx.search(term)
        };
        console.timeEnd('search')
      }

      // load the example data
      $.getJSON('/example/example_data.json', function (data) {

        // format the raw json into a form that is simpler to work with
        questions = data.questions.map(function (raw) {
          return {
            id: raw.question_id,
            title: raw.title,
            body: raw.body,
            tags: raw.tags.join(' ')
          }
        })

        console.time("load")
        questions.forEach(function (question) {
          idx.add(question)
          $('.loading').hide()
        })
        console.timeEnd("load")

        renderQuestionList(questions)
        renderQuestionView(questions[0])

        $('a.all').bind('click', function () {
          renderQuestionList(questions)
          $('input').val('')
        })

        var debounce = function (fn) {
          var timeout
          return function () {
            var args = Array.prototype.slice.call(arguments),
                ctx = this

            clearTimeout(timeout)
            timeout = setTimeout(function () {
              fn.apply(ctx, args)
            }, 100)
          }
        }

        $('input').bind('keyup', debounce(function () {
          if ($(this).val() < 2) return
          var query = $(this).val()
          var results = idx.search(query).map(function (result) {
            return questions.filter(function (q) { return q.id === parseInt(result.ref, 10) })[0]
          })

          renderQuestionList(results)
        }))

        // clicking a list item displays it in the main view
        $("#question-list-container").delegate('li', 'click', function () {
          var li = $(this)
          var id = li.data('question-id')

          renderQuestionView(questions.filter(function (question) {
            return (question.id == id)
          })[0])
        })
      })
    })

  </script>

  <style type="text/css" media="screen">

    body {
      background-color: #081f28;
      color: #708284;
      font-family: 'Helvetica Neue';
      font-size: 16px;
    }

    a {
      color: #2076c7;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    input {
      width: 200px;
      font-size: 1.4em;
    }

    #wrap {
      width: 960px;
      margin-left: auto;
      margin-right: auto;
    }

    #question-list-container {
      float: left;
      width: 30%;
    }

    #question-view-container {
      float: right;
      width: 65%;
    }

    .loading {
      color: #D11c24;
      font-size: 0.9em;
      border: 1px solid #D11c24;
      padding: 10px;
    }

    .controls {
      padding-top: 30px;
      padding-bottom: 10px;
      border-top: 3px dashed #708284;
    }
  </style>

</head>
<body>
  <div id="wrap">
    <header>
      <h1>Lunr.js Example</h1>
    </header>

    <article>
      <p>This demo consists of 100 questions taken from stack overflow, they are listed on the left hand side.  Clicking on the headings will display the full question on the right hand side of the page.</p>

      <p>Each question contains a heading, a list of tags and the body of the question.  All three fields are in the index and you can search using any words you want.</p>

      <p class="loading">The index is currently being loaded, you can still search but currently not all the data has been indexed.</p>
    </article>

    <div class="controls">
      <input type="search" placeholder="Search..."></input>
      <a class="all" href="#">All</a>
    </div>

    <div class="questions">
      <div id='question-list-container'></div>
      <div id='question-view-container'></div>
    </div>
  </div>
</body>
